.ingredients {
    display: block;
    text-align: center;
    margin-bottom: 1.5rem;

    & .dough-selector {
        margin-bottom: 1rem;
    }

    & .checkbox-group {
        display: grid;
        grid-auto-flow: column;
    }
}

.mat-button-toggle-checked {
    color: white;
    font-weight: 700;
    background-color: #ff3e3e;
}

.deliveryInstructions {
    &__textarea {
        width: -webkit-fill-available;
    }
}
