.contenedor {
    height: 90vh;
    background-color: lightgrey;
    background-image: linear-gradient(to right bottom, rgba(255, 255, 255, 0.05), rgb(255, 255, 255, 0)),
        url(~/assets/contact-image.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: top;
    display: flex;
    justify-content: center;
}

.contact {
    position: absolute;
    bottom: 50vh;
    font-size: 3rem;
    line-height: 3rem;
    font-weight: 700;
}
