.container {
    height: 92vh;
    // padding: 10px;
    background-image: linear-gradient(to right bottom, rgba(255, 255, 255, 0.05), rgb(255, 255, 255, 0)),
        url(~/assets/closeup_pizza.jpg);
    background-size: cover;
    background-position: top;
    text-align: center;
}

.button {
    transform: scale(2) translateX(-25%);
    position: absolute;
    bottom: 50vh;
}
